.App-section__content--knowledge {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: 24px;
}

.App-languages-skills {
  background-color: var(--PRINCIPAL-COLOR);
  color: var(--CONTRAST-COLOR);
  padding: 24px;
}

.App-languages-skills-list {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 12px;
}