.App-card-list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(50px, 80px) );
  grid-template-rows: repeat(auto-fit, minmax(50px, 80px));
  gap: 24px;
  list-style: none;
  margin: auto;
  padding: 0;
  max-width: 900px;
}

.App-card-item img{
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
}