.App-home {
  box-sizing: border-box;
  position: relative;
  padding: 24px;
  background-color: var(--PRINCIPAL-COLOR);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.App-home__content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.App-home__action {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  text-decoration: none;
  color: var(--CONTRAST-COLOR);
  border-radius: 45px;
  width: 45px;
  height: 45px;
  background-color: var(--ACCENT-COLOR);
}

.App-title-box {
  padding: 24px;
  border: 2px solid var(--CONTRAST-COLOR);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  text-align: center;
}
