.App-header {
  box-sizing: border-box;
  text-align: left;
  padding: 24px;
  height: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--PRINCIPAL-BACKGROUND);
}

.App-link {
  margin-right: 12px;
  color: var(--SECONDARY-COLOR)
}

.App-link:hover {
  color: 	#ff7373;
  font-weight: bold;
}
