.App-languages-skills {
  margin: auto 0;
  border-left: none;
}

.App-languages-skills__item {
  padding: 8px 0;
  border-bottom: 1px dashed var(--CONTRAST-COLOR);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 900px) {
  .App-languages-skills {
    border-left: 1px solid var(--CONTRAST-COLOR);
    padding: 24px;
  }

  .App-languages-skills__item {
    padding: 16px;
  }
  
}